.service{
    transition: .6s;
    margin-bottom: 30px;
}
.service-img {
    transition: .6s;
}
.service-img:hover{
    transform: scale(1.1);
}
.service:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 15px gray;
    background-color: white;
}